{% extends "base.html" %} {% block content %}
<div class="p-4 ml-[4.5rem]">
  <style>
    table,
    th,
    td {
      border: 1px solid rgb(237, 237, 237);
    }

    td,
    th {
      padding: 5px;
    }
  </style>
  <h1>bloque de etiquetas de productos</h1>
  <hr />
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <form
      hx-get="{{ url_for('products_label.product_label_modal') }}"
      hx-target="#modal-product-label"
      hx-trigger="submit"
    >
      <label for="search-product">Buscar Producto</label>
      <input
        type="text"
        name="product_code"
        id="product_code"
        placeholder="Ingrese el codigo del producto"
        value="101"
      />
      <input type="submit" value="Buscar" />
    </form>
    <button type="submit" form="print-labels-form">Imprimir Etiquetas</button>
  </div>
  <hr />

  <div id="modal-product-label"></div>
  <form id="print-labels-form" action="{{ url_for('products_label.print_labels') }}" method="post">
    <table>
      <tr>
        <th>Codigo principal</th>
        <th>Descripcion</th>
        <th>Codigo para etiqueta</th>
      </tr>
      <tbody id="products-label-list"></tbody>
    </table>
  </form>
</div>
{% endblock content %}
